*, 
      *::before,
      *::after {
        margin: 0;
        box-sizing: border-box;
      } 

body {
    background: url(..//images/henry-co-tqu0IOMaiU8-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-color: #dbdbdb ; */
}

.inline-block {
    display: inline;
    vertical-align: top;
    height: 50px;
}

.logo {
    width: 75%;
    padding: 1%;
}

.navigation {
    background-color: #00A880;
    width: 100%;
    padding: 1%;
}

ul li {
    display: inline;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: right;
    
}

.inline-block ul {
    margin-left: 80%;
}


.heroimg {
    background-color: white;
    width: fit-content;
    height: 850px;
    padding: 25px;
    margin: 15px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.heroimg img {
    width: 60%;
    margin-bottom: 7%;
}

.heroimg {
    box-shadow: -5px 5px #888888;
}

.content img{
    border-top: 5px #00A880;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 7%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 7%;
    padding: 5px;
}

.content {
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    padding: 5px;
}

footer {
    background-color: #00A880;
    width: 100%;
    height: 75px;
    padding: 1%;
}

footer ul {
    display: inline;
    vertical-align: top;
    padding: 5px;
}